{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>A Bootstrap Starter Template</h1>
                <p class="lead">Complete with pre-defined file paths that you won't have to change!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap v3.2.0</li>
                    <li>jQuery v1.11.0</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
  {% placeholder page_content %}
{% endblock %}
